.wallet-custom-styles p {
  font-size: 0.8rem;
  padding-left: 0.1rem;
}

.wallet-custom-styles button {
  font-size: 0.8rem;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: white !important;
}
