body {
  background-color: #080715;
  color: #fff;
}

main {
  flex: 1;

  display: flex;
  justify-content: center;

  position: relative; // for loaders and background
}

#root {
  min-height: 100svh;

  display: flex;
  flex-direction: column;

  @media only screen and (min-width: 769px) {
    max-width: 360px;
    margin: 0 auto;

    border-radius: 24px;
    overflow: hidden;
  }
}

// TODO: remove after @gear-js/vara-ui update
#alert-root {
  width: 100%;
  max-width: 480px;

  padding: 5px 22px;

  bottom: 0;
  right: 0;
}

button {
  &:not(:disabled) {
    cursor: pointer;
  }
}
